body{
	background-color: beige;
	font-family: Modern;
	color:black;

}

p{
	margin-top:20px;
	font-size: 20px;
}


a:link { 
	text-decoration: none;
	color: #33111E
}

a:active { 
	text-decoration:blink
}

a:hover { 
	text-decoration:underline;
	color: #F5A57F;
}

a:visited { 
	text-decoration: none;
}

nav{
	margin-left:40px;
	margin-top:30px;
}

iframe{
	margin-top: 50px;
}

h1{
	margin-top:60px;
}

h2{
	margin-left: 20px;
	margin-top:120px;
}

#background{
	position:absolute;
	left:350px;
	top:140px;
}

#navi{
	position:absolute;
	left:220px;
	top:45px;
}

.description{
	margin-top: 80px
}

.first{
	position:absolute;
	left: 290px;
	top: 60px;
	z-index: 100px
}

.first:hover{
	transform: scale(1.1);
	transform-origin: right;
}

.second{
	position:absolute;
	left: 291px;
	top: 388px;
}

.second:hover{
	transform: scale(1.1);
	transform-origin: top;
}

.third{
	position:absolute;
	left: 469px;
	top: 80px;
}

.third:hover{
	transform: scale(1.1);
	transform-origin: bottom;
}

.fourth{
	position:absolute;
	left: 728px;
	top: 92px;
}

.fourth:hover{
	transform: scale(1.1);
	transform-origin: left;
}

.fifth{
	position:absolute;
	left: 750px;
	top: 308px;
}

.fifth:hover{
	transform: scale(1.1);
	transform-origin: left;
}

.sixth{
	position:absolute;
	left: 738px;
	top: 234px;
}

.sixth:hover{
	transform: scale(1.05);
	transform-origin: left;
}

.pic {
	margin-top: 100px;
}

#para{
	margin: 100px;
	padding: 40px;
	box-shadow: 0 0 4px 4px #666;
}